/* DOCUMENT INFORMATION
- Document: Theme_Name
- Version:  1.0.0
- Client:   Client_Name
- Author:   Emin Azeroglu
*/

.button {
    width: auto;
    padding: .375rem .75rem;
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: initial !important;
    cursor: pointer !important;
    border: 1px solid transparent;
    font-size: 1rem;
    @include css3-prefix(user-select, none);
    @include transition(all .2s);
    &--round {
        @include border-radius(.25rem)
    }
    &--lg {
        padding: .5rem 1rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    &--sm {
        padding: .25rem .5rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
    &--block {
        display: block;
        width: 100%;
    }
    &--disabled {
        opacity: .65;
        pointer-events: none;
    }
    &--blue {
        color: #fff !important;
        background-color: $color-blue;
        border-color: $color-blue;
        &:hover {
            background-color: darken($color-blue, 5%);
        }
    }
    &--outline-blue {
        color: $color-blue !important;
        border-color: $color-blue;
        &:hover {
            color: #fff !important;
            background-color: darken($color-blue, 5%);
        }
    }
    &--indigo {
        color: #fff !important;
        background-color: $color-indigo;
        border-color: $color-indigo;
        &:hover {
            background-color: darken($color-indigo, 5%);
        }
    }
    &--outline-indigo {
        color: $color-indigo !important;
        border-color: $color-indigo;
        &:hover {
            color: #fff !important;
            background-color: darken($color-indigo, 5%);
        }
    }
    &--purple {
        color: #fff !important;
        background-color: $color-purple;
        border-color: $color-purple;
        &:hover {
            background-color: darken($color-purple, 5%);
        }
    }
    &--outline-purple {
        color: $color-purple !important;
        border-color: $color-purple;
        &:hover {
            color: #fff !important;
            background-color: darken($color-purple, 5%);
        }
    }
    &--pink {
        color: #fff !important;
        background-color: $color-pink;
        border-color: $color-pink;
        &:hover {
            background-color: darken($color-pink, 5%);
        }
    }
    &--outline-pink {
        color: $color-pink !important;
        border-color: $color-pink;
        &:hover {
            color: #fff !important;
            background-color: darken($color-pink, 5%);
        }
    }
    &--red {
        color: #fff !important;
        background-color: $color-red;
        border-color: $color-red;
        &:hover {
            background-color: darken($color-red, 5%);
        }
    }
    &--outline-red {
        color: $color-red !important;
        border-color: $color-red;
        &:hover {
            color: #fff !important;
            background-color: darken($color-red, 5%);
        }
    }
    &--orange {
        color: #fff !important;
        background-color: $color-orange;
        border-color: $color-orange;
        &:hover {
            background-color: darken($color-orange, 5%);
        }
    }
    &--outline-orange {
        color: $color-orange !important;
        border-color: $color-orange;
        &:hover {
            color: #fff !important;
            background-color: darken($color-orange, 5%);
        }
    }
    &--yellow {
        color: #fff !important;
        background-color: $color-yellow;
        border-color: $color-yellow;
        &:hover {
            background-color: darken($color-yellow, 5%);
        }
    }
    &--outline-yellow {
        color: $color-yellow !important;
        border-color: $color-yellow;
        &:hover {
            color: #fff !important;
            background-color: darken($color-yellow, 5%);
        }
    }
    &--green {
        color: #fff !important;
        background-color: $color-green;
        border-color: $color-green;
        &:hover {
            background-color: darken($color-green, 5%);
        }
    }
    &--outline-green {
        color: $color-green !important;
        border-color: $color-green;
        &:hover {
            color: #fff !important;
            background-color: darken($color-green, 5%);
        }
    }
    &--teal {
        color: #fff !important;
        background-color: $color-teal;
        border-color: $color-teal;
        &:hover {
            background-color: darken($color-teal, 5%);
        }
    }
    &--outline-teal {
        color: $color-teal !important;
        border-color: $color-teal;
        &:hover {
            color: #fff !important;
            background-color: darken($color-teal, 5%);
        }
    }
    &--cyan {
        color: #fff !important;
        background-color: $color-cyan;
        border-color: $color-cyan;
        &:hover {
            background-color: darken($color-cyan, 5%);
        }
    }
    &--outline-cyan {
        color: $color-cyan !important;
        border-color: $color-cyan;
        &:hover {
            color: #fff !important;
            background-color: darken($color-cyan, 5%);
        }
    }
    &--white {
        color: #000 !important;
        background-color: $color-white;
        border-color: $color-white;
        &:hover {
            background-color: darken($color-white, 5%);
        }
    }
    &--outline-white {
        color: #000 !important;
        border-color: $color-white;
        &:hover {
            color: #000 !important;
            background-color: darken($color-white, 5%);
        }
    }
    &--gray {
        color: #fff !important;
        background-color: $color-gray;
        border-color: $color-gray;
        &:hover {
            background-color: darken($color-gray, 5%);
        }
    }
    &--outline-gray {
        color: $color-gray !important;
        border-color: $color-gray;
        &:hover {
            color: #fff !important;
            background-color: darken($color-gray, 5%);
        }
    }
    &--gray-dark {
        color: #fff !important;
        background-color: $color-gray-dark;
        border-color: $color-gray-dark;
        &:hover {
            background-color: darken($color-gray-dark, 5%);
        }
    }
    &--outline-gray-dark {
        color: $color-gray-dark !important;
        border-color: $color-gray-dark;
        &:hover {
            color: #fff !important;
            background-color: darken($color-gray-dark, 5%);
        }
    }
    &--primary {
        color: #fff !important;
        background-color: $color-primary;
        border-color: $color-primary;
        &:hover {
            background-color: darken($color-primary, 5%);
        }
    }
    &--outline-primary {
        color: $color-primary !important;
        border-color: $color-primary;
        &:hover {
            color: #fff !important;
            background-color: darken($color-primary, 5%);
        }
    }
    &--success {
        color: #fff !important;
        background-color: $color-success;
        border-color: $color-success;
        &:hover {
            background-color: darken($color-success, 5%);
        }
    }
    &--outline-success {
        color: $color-success !important;
        border-color: $color-success;
        &:hover {
            color: #fff !important;
            background-color: darken($color-success, 5%);
        }
    }
    &--info {
        color: #fff !important;
        background-color: $color-info;
        border-color: $color-info;
        &:hover {
            background-color: darken($color-info, 5%);
        }
    }
    &--outline-info {
        color: $color-info !important;
        border-color: $color-info;
        &:hover {
            color: #fff !important;
            background-color: darken($color-info, 5%);
        }
    }
    &--warning {
         color: #fff !important;
         background-color: $color-warning;
         border-color: $color-warning;
         &:hover {
             background-color: darken($color-warning, 5%);
         }
     }
    &--outline-warning {
        color: $color-warning !important;
        border-color: $color-warning;
        &:hover {
            color: #fff !important;
            background-color: darken($color-warning, 5%);
        }
    }
    &--danger {
        color: #fff !important;
        background-color: $color-danger;
        border-color: $color-danger;
        &:hover {
            background-color: darken($color-danger, 5%);
        }
    }
    &--outline-danger {
        color: $color-danger !important;
        border-color: $color-danger;
        &:hover {
            color: #fff !important;
            background-color: darken($color-danger, 5%);
        }
    }
    &--light {
        color: #000 !important;
        background-color: $color-light;
        border-color: $color-light;
        &:hover {
            background-color: darken($color-light, 5%);
        }
    }
    &--outline-light {
        color: #000 !important;
        border-color: $color-light;
        &:hover {
            color: #000 !important;
            background-color: darken($color-light, 5%);
        }
    }
    &--dark {
        color: #fff !important;
        background-color: $color-dark;
        border-color: $color-dark;
        &:hover {
            background-color: darken($color-dark, 5%);
        }
    }
    &--outline-dark {
        color: $color-dark !important;
        border-color: $color-dark;
        &:hover {
            color: #fff !important;
            background-color: darken($color-dark, 5%);
        }
    }
}
